@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-color: #181818;
}

body {
  display: flex;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}
input {
  color: black;
}
